[Unit]
Description=Refresh cloud balances and hourly spending periodically

[Timer]
OnStartupSec=10s
OnUnitActiveSec=3min
AccuracySec=30s
Unit=gnome-cloud-cost.service

[Install]
WantedBy=timers.target
